html{
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.general{
    width: 100%;
    margin: auto;
    background-color: #1f1d2c;
    height: 100%;
    position: relative;
    font-size: 1.3rem;;
}

/* NAV */

#btn_menu{
    display: none;
}

nav{
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #1f1d2c;
    z-index: 1000;
    height: calc(100vh-70px);
}

nav>ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

nav>ul>li>a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.actual{
    color: #ef9919;
}

/* ENCABEZADO */
.encabezado{
    width: 100%;
    margin: auto;
    padding: 150px 150px 150px;
    margin-bottom: 3rem;
}

/* lado izquierdo, texto */
.encabezado .encabezado-info{
    color: #fff;
    width: 50%;
    position: relative;
    z-index: 1;
}

h1{
    font-size: 80px;
}

.encabezado .encabezado-info p{
    font-size: 40px;
    margin-bottom: 20px;
}

.encabezado-info__experiencia{
    width: 50%;
}

.encabezado-info__experiencia>p>span{
    color: #ef9919;
}

.encabezado-info__iconos{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.encabezado-info__iconos img{
    width: 50px;
}
/* lado derecho, imagen */

.encabezado-imagen img{
    width: 90%;
    position: relative;
    top: 30%;
    max-width: 600px;
}

.encabezado-imagen{
    background-image: url(Vectores/Rectangle\ 33.svg);
    width: 55%;
    max-height: 600px;
    height: 90%;
    position: absolute;
    top: 50px;
    right: 0;
    text-align: center;
    z-index: 0;
}

h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.sobreMi{
    width: 100%;
    padding: 30px 200px;
    background-image: url(Vectores/Rectangle\ 33-1.svg);
    color: #fff;
    text-align: center;
}

.sobreMi-estudios{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.sobreMi-estudios>div>:nth-child(2){
    font-weight: bold;
    line-height: 30px;
}

/* EXPERIENCIA */

.exp-h3{
    color: #fff;
    margin-top: 30px;
    font-size: 40px;
}

.experiencia{
    width: 70%;
    margin: auto;
    padding: 50px;
    display: flex;
    color: #fff;
}

.experiencia>.experiencia-container1{
    width: 90%;
}

.experiencia .experiencia-container2 img{
    height: 100%;
}

.experiencia .experiencia-container1>div{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.experiencia .experiencia-container1 >div>div>p:nth-child(1){
    font-weight: bold;
}

.experiencia .experiencia-container1 >div>div{
    line-height: 25px;
}

.experiencia__1>div{
    margin-left: -52px;
}

.experiencia__2>div{
    margin-left: -42px;
}

.experiencia-container1>div>span{
    align-self: center;
    font-weight: bold;
}

.experiencia__2>span{
    margin-right: 10px;
}

.experiencia__3>span{
    margin-right: 15px;
}

/* HABILIDADES */
.habilidades{
    width: 80%;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.habilidades img{
    position: absolute;
    width: 30%;
    z-index: 0;
}

.habilidades h3{
    text-align: center;
    margin-left: -200px;
    padding-top: 60px;
    position: relative;
    z-index: 1;
}

.habilidades .habilidades-info{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.habilidades .habilidades-info .habilidades-info__porcentaje,
.habilidades .habilidades-info .habilidades-info__nombre{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: space-around;
}

.habilidades .habilidades-info .habilidades-info__porcentaje>p{
    font-size: 50px;
    color: #ef9919;
    padding: 10px;
}

/* PORTAFOLIO */
.portafolio{
    width:90%;
    padding:2em;
    margin: auto;
}

.portafolio-elementos{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:2em;
    gap: 4em;
}

.portafolio-contenedor{
    min-height: 10vh;
    width: 50%;
    background-color: #ef9919;
    text-align: center;
    
}

.portafolio-elementos>:nth-child(2){
    align-self: flex-end;
}

.portafolio-contenedor>*{
    position: relative;
    top: 30px;
    color: #fff;
}

.portafolio-contenedor img{
    width: 90%;
}

.portafolio-puntos{
    display: none;
}


/* CONTACTO */

footer>h3{
    background-color: #242635;
    margin-bottom: 0;
    color: #fff;
    padding: 40px;
}

.contacto{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #242635;
    color: #fff;
    padding-bottom: 30px;
}

.contacto>div{
    padding: 30px 100px;
    text-align: center;
    line-height: 2rem;
}

.contacto img{
    margin-top: 15px;
    width: 80px;
}

.contacto>div>p{
    font-weight: bold;
}

footer>p{
    color: #fff;
    text-align: center;
    padding: 50px;
}




@media screen and (max-width:1000px) {


    nav>ul>li>a{
        font-size: 1rem;
        padding: 10px;
    }

    .encabezado{
        padding: 1.5rem;
        padding-top: 2.5rem;
    }

    h1{
        font-size: 4rem;
    }
    
    .encabezado .encabezado-info p{
        font-size: 2rem;
    }

    .encabezado-imagen img{
        top: 20%;
    }
    
    .encabezado-imagen{
        max-height: 450px;
        height: 70%;
    }

    .encabezado-info__iconos{
        justify-content: space-around;
    }
    
    .encabezado-info__iconos img{
        width: 35px;
    }

    .sobreMi{
        padding: 2rem 2rem;
        margin-top: 150px;
    }

    .experiencia{
        width: 100%;
    }

    .portafolio{
        width:95%;
        padding:.5em;
        margin: auto;
    }
    
    .portafolio-elementos{
        width: 90%;
        margin: auto;
        padding:1em;
        gap: 2em;
    }
    
    .portafolio-contenedor{
        min-height: 10vh;
        width: 50%;
    }


}

/* RESPONSIVE 600PX */

@media screen and (max-width:600px) {
    nav{
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        padding-right: 0; /* le quitamos el padding right que le pusimos antes */
        top: 0;
        right: 0;        /* en 0 para verlo, -250 para ocultarlo para hacer que entre al darle click al menu-icon */
        transform: translateX(100%);
        background-color: #242635;
        width: 300px;
        height: 100vh;
        z-index: 100;
        padding-left: 30px;
    }

    nav>ul{
        flex-direction: column;
    }

    nav>ul>li{
        margin-top: 30px;
    }

    nav>ul>li>a{
        color: #bebebe;
        font-size: 1.2rem;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, .5);
        display: none; /* ocultamos para hacer el menu-icon */
        z-index: 10;
    }

    #btn_menu{
        width: 50px;
        height: 50px;
        display: flex;
        position: fixed; /* para poder moverlo a la izq, con relative no se pudo */
        right: 0;
        margin: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, .1);
        cursor: pointer;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 50%;
        transition: all 300ms;
        z-index: 1;
    }

    #btn_menu:hover{
        background-color: rgba(255, 255, 255, .2);
    }

    /* ENCABEZADO */

    .encabezado{
        padding: 5rem 20px 2rem;
    }

    .encabezado .encabezado-info{
        width: 75%;
    }

    .encabezado .encabezado-info p{
        font-size: 1.3rem;
        margin-bottom: 20px;
        width: 80%;
    }


    .encabezado-info__experiencia{
        width: 55%;
    }

    .encabezado-info__iconos{
        width: 50%;
    }

    /* lado derecho */

    .encabezado-imagen{
        background-image: url(Vectores/Rectangle\ 33-1.svg);
        width: 60%;
        height: 400px;
        padding: 10px;
        top: 0;
        right: 0;
        z-index: 0;
    }

    .encabezado-imagen img{
        width: 100%;
        top: 40%;
    }

    /* sobre mi */

    .sobreMi{
        padding: 30px 20px;
        margin-top: 3rem;
    }

    .sobreMi p{
        font-size: 1.2rem;
    }

    .sobreMi-estudios{
        width: 80%;
    }

    /* EXPERIENCIA */

    .experiencia{
        padding-top: 10px;
        width: 100%;
        margin-bottom: 30px;
        font-size: 1.2rem;
        
    }

   .experiencia-container1>div{
        margin-bottom: 20px;
        align-items: center;
    }

    .experiencia-container1>div>div{
        width: 150px;
    }

    .experiencia .experiencia-container1 img{
        width: 120px;
    }
    /* arreglando los margenes que puse antes */
    .experiencia__1>div{
        margin-left: 0;
    }
    
    .experiencia__2>div{
        margin-left: 0;
    }

    .experiencia__2>span{
        margin-right: 0;
    }
    
    .experiencia__3>span{
        margin-right: 0;
    }

    .experiencia .experiencia-container1>div{
        padding: 10px;
    }

    .experiencia__2>div{
        margin-left: -12px;
    }

    /* HABILIDADES */
    .habilidades{
        width: 100%;
        padding: 30px 0;
    }

    .habilidades img{
        height: 100%;
        object-fit: cover;
        width: 30%;
    }

    .habilidades h3{
        margin-left: 0px;
        
    }

    .habilidades .habilidades-info{
        width: 80%;
        margin: auto;
    }

    .habilidades-info__nombre{
        font-size: 1.5rem;
        font-weight: 200;
    }

    .habilidades-info__porcentaje{
        margin-left: -20px;
    }

    /* PORTAFOLIO - SLIDER */

    .portafolio{
        width:90%;
        max-width: 120em;
        padding:2em;
        overflow: hidden;
    }
    .portafolio-elementos{
        width: 300%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding:2em;
        transition: all .5s ease;
        transform: translateX(0%);
    }
    .portafolio-contenedor{
        width: calc( 100% / 3  - 3em);
        min-height: 10vh;
    }

    .portafolio-puntos{
        width:100%;
        margin:1em 0 0;
        padding:.4em;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .portafolio-puntos .punto{
        width:  2em;
        height: 2em;
        margin: 1em 1em 0;
        border-radius: 50%;
        background-color: #fff;
    }

    .portafolio-puntos .activo{
        background-color: #ef9919;
    }

    /* CONTACTO */
    footer>h3{
        padding-bottom: 0;
    }

    .contacto{
        width: 100%;
        justify-content: space-around;
        padding: 30px 0;
    }

    .contacto>div{
        padding: 0;
        text-align: center;
        line-height: 2rem;
    }

    .contacto img{
        width: 100px;
    }

    .contacto>div>p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:400px){

    h1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.9rem;
    }

    .encabezado .encabezado-info p{
        font-size: 1rem;
    }

    .encabezado-imagen img{
        top: 30%;
    }
    
    .encabezado-imagen{
        height: 300px;
    }

    .sobreMi{
        padding: 20px 20px;
    }

    .sobreMi>p{
        text-align: justify;
    }

    .sobreMi-estudios{
        width: 95%;
    }

    .sobreMi-estudios>div>img{
        width: 140px;
    }

    #experiencia{
        font-size: 1.9rem;
    }

    .experiencia{
        width: 95%;
        padding: 0px;
        font-size: 1rem;
    }

    .experiencia-container1>div>img{
        flex-basis: 20px;
        margin-right: 10px;
    }

    .habilidades-info__nombre{
        font-size: 1.2rem;
    }

    .habilidades .habilidades-info .habilidades-info__porcentaje,
    .habilidades .habilidades-info .habilidades-info__nombre{
        padding: 0 10px;
    }
    
    .habilidades .habilidades-info .habilidades-info__porcentaje>p{
        font-size: 40px;
    }

    .portafolio{
        width:95%;
        padding:1em;
    }
    .portafolio-elementos{
        padding:1em;
    }

    .portafolio-contenedor{
        width: calc( 100% / 3  - 2em);
        min-height: 15vh;
    }


    .portafolio-puntos .punto{
        width:  1.5em;
        height: 1.5em;
    }

    .contacto>div>p{
        font-size: 1rem;
    }

    .contacto>div>span{
        font-size: .9rem;
    }
}